#shibu-pic {
  margin-left:3%;
  margin-right:3%;
  margin-bottom: 3%;
  width: 94%;
}

html {
  background-color: hotpink;
}

header {
  background-color: lightgreen;
  width: 100%;
  display : flex;
  align-items: center;
}

h1 {
  width:  25%;
  margin: 1rem;
}

header nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

#header-image {
  width : 20%;
}

#refresh {
  margin: 1rem;
}

.label {
  padding-right: 1rem;
}

footer {
  position: absolute;
  bottom:0;
  background-color: lightblue;
  display : flex;
  align-items: center;
  justify-content: space-between;
  width : 100%;
}

footer nav {
  display: flex;
}
footer nav a {
  margin-right:1rem;
}

footer p {
  margin: 0.25rem;
}

.social-logo {
  width : 1rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

body {
  overscroll-behavior: none;
}